name: "Test"

on:
  workflow_dispatch:
  push:
    branches: [master]
    paths:
      - ".github/workflows/test.yaml"
      - "src/**"
      - "tests/**"
      - "pyproject.toml"
  pull_request:

env:
  ZIPLINE_URL: http://localhost:3000/

jobs:
  build:
    name: "Build"
    uses: ./.github/workflows/build.yaml
    if: ${{ !contains(github.event.head_commit.message, '#notest') }}
    permissions:
      contents: write
    with:
      name: test

  test3:
    name: "Test V3"
    timeout-minutes: 5
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
    runs-on: ${{ matrix.os }}

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DATABASE: postgres
        ports:
          - 5432:5432

      zipline:
        image: ghcr.io/diced/zipline:v3
        env:
          DEBUG: true
          CORE_PORT: 3000
          CORE_RETURN_HTTPS: false
          CORE_SECRET: NasMA3ByEXw5P65Gcx8BZOB9QhJN5qom
          CORE_DATABASE_URL: postgres://postgres:postgres@postgres/postgres
        ports:
          - 3000:3000

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: "Debug event.json"
        if: ${{ !github.event.act }}
        continue-on-error: true
        run: cat "${GITHUB_EVENT_PATH}"

      - name: "Debug CTX github"
        if: ${{ !github.event.act }}
        continue-on-error: true
        env:
          GITHUB_CTX: ${{ toJSON(github) }}
        run: echo "$GITHUB_CTX"

      - name: "Download Artifact"
        uses: actions/download-artifact@v6
        with:
          name: test
          path: dist

      - name: "Setup Python ${{ matrix.version }}"
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.version }}
          cache: "pip"

      - name: "Install ${{ matrix.version }}"
        run: |
          python -V
          python -m pip install -U pip psycopg2
          python -m pip install dist/*.whl

      #- name: "Debug ${{ matrix.version }}"
      #  run: |
      #    ls -lAhR .

      - name: "Test ${{ matrix.version }}"
        run: |
          export ZIPLINE_TOKEN=$(python3 tests/get_test_token.py)
          echo "ZIPLINE_TOKEN: ${ZIPLINE_TOKEN}"
          zipline README.md

  test4:
    name: "Test V4"
    timeout-minutes: 5
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
    runs-on: ${{ matrix.os }}

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DATABASE: postgres
        ports:
          - 5432:5432

      zipline:
        image: ghcr.io/diced/zipline:v4
        env:
          DEBUG: zipline
          CORE_PORT: 3000
          CORE_RETURN_HTTPS: false
          CORE_SECRET: NasMA3ByEXw5P65Gcx8BZOB9QhJN5qom
          DATABASE_URL: postgres://postgres:postgres@postgres/postgres
        ports:
          - 3000:3000

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: "Debug event.json"
        if: ${{ !github.event.act }}
        continue-on-error: true
        run: cat "${GITHUB_EVENT_PATH}"

      - name: "Debug CTX github"
        if: ${{ !github.event.act }}
        continue-on-error: true
        env:
          GITHUB_CTX: ${{ toJSON(github) }}
        run: echo "$GITHUB_CTX"

      - name: "Download Artifact"
        uses: actions/download-artifact@v6
        with:
          name: test
          path: dist

      - name: "Setup Python ${{ matrix.version }}"
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.version }}
          cache: "pip"

      - name: "Install ${{ matrix.version }}"
        run: |
          python -V
          python -m pip install -U pip psycopg2
          python -m pip install dist/*.whl

      #- name: "Debug ${{ matrix.version }}"
      #  run: |
      #    ls -lAhR .

      - name: "Test ${{ matrix.version }}"
        run: |
          export ZIPLINE_TOKEN=$(python3 tests/get_token_v4.py)
          echo "ZIPLINE_TOKEN: ${ZIPLINE_TOKEN}"
          zipline README.md
